.btn-mitrais {
    background-color: #563d7c;
    border-color: #563d7c;
    color: #fff;
}

.footer-mitrais {
    background-color: #563d7c;
    border-color: #563d7c;
    color: #fff;
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}